body
{
    background-color:white;
}

.headerhold {
    
    padding:0px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    border:1px solid grey;
    font-size:12px;
  
}
.imghold {

    /*border:1px solid grey;
    height:140px;*/
    

}
.prvi {

    border-right:1px solid grey;
}
.mylist {
    margin-top:5px;
}
.imgst {
   
}

.main {
    padding: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid grey;
}
.textbold2{
    font-weight:bold;
}
.addp {

    padding:10px;


}