@model IEnumerable<RadniNalog.ViewModels.ImageModel>
@{

    Layout = null;


}

<link href="~/css/gallery/bootstrap4.css" rel="stylesheet" id="bootstrap-css">
<script src="~/lib/mygallery/bootstrap4.js"></script>
<script src="~/lib/mygallery/jquery.js"></script>
<!------ Include the above in your HEAD tag ---------->
@*<link rel="stylesheet" href="~/lib/mygallery/fancybox.css" media="screen">*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
@*<script src="~/lib/mygallery/fancybox.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<link href="~/css/mygallery.css" rel="stylesheet">
<!-- Page Content -->
<div class="container page-top">

    <h3 class="text-center">@ViewBag.ImePostrojenja</h3>
    <hr>


    <div class="row">





        @foreach (var img in Model)
        {

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="@img.ImagePath" class="fancybox" rel="ligthbox">
                    <img src="@img.ImagePath" class="zoom img-fluid " alt="test">

                </a>
                <a href="/ImageUpload/Delete/@img.ID" class="btn btn-danger btn-block">Izbriši sliku</a>
            </div>




        }









    </div>


</div>

<div class="container">

    <a href="/ImageUpload/Upload/@ViewBag.IDPostrojenja" class="btn btn-block btn-success">Dodaj novu sliku</a>

    @*<a href="javascript:history.go(-1)" class="btn btn-block btn-danger">Povratak</a>*@
    <a href="/Home/#mjestoRada" class="btn btn-block btn-danger">Povratak na listu Lokacija</a>

</div>


<script>

    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none",
            showNavArrows: true
        });

        $(".zoom").hover(function () {

            $(this).addClass('transition');
        }, function () {

            $(this).removeClass('transition');
        });
    });


</script>