<form method="post" enctype="multipart/form-data" asp-controller="ImageUpload" asp-action="UploadImageMulti">
    <div class="form-group">
        <div class="col-md-10">
            <label>Odaberi sliku:  </label>
            <input type="file" name="files" multiple  />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary btn-block"/>
        </div>
    </div>
</form>