<div class="container fixmarg">


    <h3 class="text-center">Uspjesno ste dodali fotografiju</h3>

    @*<a href="javascript:history.go(-1)" class="btn btn-block btn-danger">Povratak</a>*@

    <a href="/ImageUpload/Details/@ViewBag.myid" class="btn btn-block btn-danger">Povratak u galeriju</a>

</div>
