<div id="radniNalog2">

@*<h2>Authorization</h2>*@




<div class="row">
    <div class="col-md-12">

        <div class="text-center">

            @if (ViewBag.nematePravo)
            {
                      <h4>Nemate Pravo brisati korisnike</h4>

            }
            else
            {
                    <h4>Uspjesno izbrisan korisnik</h4>
            }

            <a class="btn btn-danger btn-block" href="http://localhost:3003/Home/Administracija#/useri/">Povratak na Listu Korisnika</a>

        </div>
    </div>

</div>
</div>
