
<div class="panel panel-default">

    <div class="panel-heading"><h2 autofocus class="text-center">Administracija</h2></div>
    <div class="panel-body">

        <div class="well">

            <a ui-sref="radnici" class="btn btn-primary btn-block btn-lg">Zaposlenici</a>


        </div>

        <div class="well">

            <a ui-sref="vrstaRada" class="btn btn-primary btn-block btn-lg">Vrsta Rada</a>


        </div>

        <div class="well">

            <a ui-sref="mjestoRada" class="btn btn-primary btn-block btn-lg">Mjesto Rada</a>


        </div>

        <div class="well">

            <a ui-sref="automobil" class="btn btn-primary btn-block btn-lg">Registracije-Automobili</a>


        </div>




    </div>
    <div class="panel-footer"></div>
</div>


