<<div id="radniNalog2">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Uredi Mjesto Rada</legend>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Tip Postrojenja</label>
                <div class="col-md-5">
                    <select class="form-control" ng-model="mjestoRada.tipPostrojenja"
                            ng-options="tipPostrojenja.naziv for tipPostrojenja in tipoviPostrojenja track by tipPostrojenja.id" 
                            ng-init="mjestoRada.tipPostrojenja={id:tipPostrojenja.id}">

                        <option value="">Odaberi</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Podrucje</label>
                <div class="col-md-5">
                    <select class="form-control" ng-model="mjestoRada.podrucje" ng-options="podrucje.ime for podrucje in podrucja">

                        <option value="">Odaberi</option>
                    </select>
                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Ime</label>
                <div class="col-md-6">
                    <input ng-model="mjestoRada.ime" id="textinput" name="textinput" placeholder="Unesi ime" class="form-control input-md" type="text">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button ng-click="editMjestoRada(mjestoRada)" id="singlebutton" name="singlebutton" class="btn btn-success">Uredi MjestoRada</button>
                </div>
            </div>

        </fieldset>
    </form>



    <div ng-dropdown-multiselect="" options="example9data" selected-model="example9model" extra-settings="example9settings" translation-texts="example5customTexts"></div>



</div>




   




 
