<div id="radniNalog2">

    <form name="userForm" class="form-horizontal" novalidate>
        <fieldset>

            <!-- Form Name -->
            <legend>Izmjeni Automobil</legend>

            <!-- Text input-->
            <div class="form-group" ng-class="{'has-error': userForm.Registracija.$invalid && !userForm.Registracija.$pristine}">
                <label class="col-md-4 control-label" for="textinput">Ime</label>
                <div class="col-md-6">
                    <input name="Registracija" ng-model="automobil.registracija" id="textinput" placeholder="Unesi ime" class="form-control input-md" type="text" required>

                </div>

                <span ng-show="userForm.Registracija.$invalid &&  !userForm.Registracija.$dirty " class="has-error">Unesi ime automobila</span>
                <span ng-show="userForm.Registracija.$invalid && !userForm.Registracija.$pristine  " class="has-error">Unesi ime automobila</span>

            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button ng-click="editAutomobil(automobil)" id="singlebutton" name="singlebutton" class="btn btn-success" ng-disabled="userForm.$invalid">Uredi Registraciju</button>
                </div>
            </div>

        </fieldset>
    </form>

    </div>
