<!--<div class="izvj">
    <div class="panel panel-danger">
        <div class="panel-heading text-center"><h3>Popis obilazaka - {{info.ime}}</h3></div>
        <div class="panel-body">

            <div class="well" ng-repeat="rad in radovi">
                <p>Datum: {{rad.datum | date:"dd/MM/yyyy"}}</p>
                <p>{{rad.vrstaRada.naziv}}</p>


            </div>

        </div>

    </div>

</div>-->

<div class="panel panel-primary" id="radniNalog">

   
    <div class="panel-heading text-center"><h3>Popis obilazaka</h3></div>
    <div class="panel-body">

        <table ng-table="lokacijeTable" show-filter="true" class="table table-striped table-condensed ">

            <tr ng-repeat="user in data">
                <td data-title="'Datum'" sortable="'datum'" filter="{ 'datum': 'text' }">
                    {{user.datum | date: 'dd-MM-yyyy' }}
                </td>

                <td data-title="'Opis Radova'" sortable="'opisRadova'" filter="{ 'opisRadova': 'text' }">
                    {{user.opisRadova }}
                </td>


                <td data-title="'Vrsta Rada'">
                    {{user.vrstaRada.naziv }}
                </td>

                <td>
                    <a ui-sref="editNalog2({id:user.id})" class="btn btn-danger btn-sm">Veza na radni nalog</a>

                </td>


            </tr>
        </table>


    </div>

</div>